.orkidea-schedule-wrap {
	border: 1px solid black;
	padding: 4px;
	margin: 0 0 4px 0;
	position: static;
}
.orkidea-schedule-panel {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
}

.orkidea-schedule-panel * {
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.orkidea-schedule-labelY {
	padding: 1px 0;
	/*background-color: red;*/
}

.orkidea-schedule-gridY {
	padding: 1px 0;
}

.orkidea-schedule-item {
	border-radius: 5px;
}